* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.table {
  border-collapse: collapse;
  box-shadow: 5px 10px 8px rgba(136, 136, 136, 0.66);
  border-radius: 8px;
  overflow: hidden;
}

th {
  border-right: 1px solid #fdfdfdbf;
  text-align: center;
  padding: 10px 15px;
  background-color: rgba(106, 182, 229, 0.396);
  font-size: 15px;
  color: #00527d;
}

td {
  border-right: 1px solid #fdfdfdbf;
  text-align: center;
  padding: 5px 7px;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(223, 223, 223, 0.268);
  color: #5b5b5b;
}
