body {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "header header header" "nav article aside" "footer footer footer";
}

header {
  grid-area: header;
  background-color: palevioletred;
}

nav {
  grid-area: nav;
  background-color: aquamarine;
}

article {
  grid-area: article;
  background-color: aqua;
}

aside {
  grid-area: aside;
  background-color: blue;
}
footer {
  grid-area: footer;
  background-color: paleturquoise;
}
