* {
  margin: 0;
  padding: 0;
}

img {
  height: 150px;
  width: 150px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
